<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Plans Comparison</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h1>Plans</h1>

<div class="free">
  <h2 id="free-plan">Free Plan</h2>
  <div class="feature">Can Check :</div> <div class="value">Yes</div><br><hr/><br>
  
  <div class="feature">Can Scrape :</div> <div class="value">No</div><br><hr/><br>
  
  <div class="feature">Can Use Tools :</div> <div class="value">Yes</div><br><hr/><br>
  
  <div class="feature">Can Edit The BoT :</div> <div class="value">No</div><br><hr/><br>
  
  <div class="feature">Can Use All Gates :</div> <div class="value">No</div><br><hr/><br>
  
  <div class="feature">Can Use All Tools :</div> <div class="value">No</div><br><hr/><br>
  
  <div class="feature">Useable Gates :</div> <div class="value">1</div><br><hr/><br>
  
  <div class="feature">Useable Tools :</div> <div class="value">3</div><br><hr/><br>
  
  <div class="feature">Anti Spam Time :</div> <div class="value">30s</div><br><hr/><br>
  
</div>

<div class="premium">
  <h2 id="premium-plan">Premium Plan</h2>
  <div class="feature">Can Check :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Scrape :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Use Tools :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Edit The BoT :</div> <div class="value">No</div><br><hr/><br>
  <div class="feature">Can Use All Gates :</div> <div class="value">No</div><br><hr/><br>
  <div class="feature">Can Use All Tools :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Useable Gates :</div> <div class="value">5</div><br><hr/><br>
  <div class="feature">Useable Tools :</div> <div class="value">5</div><br><hr/><br>
  <div class="feature">Anti Spam Time :</div> <div class="value">10s</div><br><hr/><br>
</div>

<div class="admins">
  <h2 id="admins-plan">Admins Plan</h2>
  <div class="feature">Can Check :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Scrape :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Use Tools :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Edit The BoT :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Use All Gates :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Can Use All Tools :</div> <div class="value">Yes</div><br><hr/><br>
  <div class="feature">Useable Gates :</div> <div class="value">All</div><br><hr/><br>
  <div class="feature">Useable Tool :</div> <div class="value">All</div><br><hr/><br>
  <div class="feature">Anti Spam Time : </div> <div class="value">0s</div><br><hr/><br>
</div>

</body>
</html>
